@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
.Dancing {font-family: 'Dancing Script', cursive;}
.Fjalla{font-family: 'Fjalla One', sans-serif;}
.Indie{font-family: 'Indie Flower', cursive;}
.Rubik{font-family: 'Rubik Pixels', system-ui;}
.Sedgwick{font-family: 'Sedgwick Ave Display', cursive;}